@import '/src/_styles';

.PageTitle {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  animation: titleFadeIn 0.5s;
  .Title {
    font-family: $fontHeading;
    text-transform: uppercase;
    -webkit-text-stroke: 2px $light;
    color: rgba(0,0,0,0);
    margin: 0;
    animation: textColor 0.9s;
  }
  .Subtitle {
    color: $white;
  }
}

@media (max-width: 767px) {
  .PageTitle {
    .Title {
      font-size: 4rem;
    }
    .Subtitle {
      font-size: 0.95rem;
    }
  }
}

@media (min-width: 768px) {
  .PageTitle {
    .Title {
      font-size: 6rem;
    }
    .Subtitle {
      font-size: 1rem;
    }
  }
}

@keyframes titleFadeIn {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes textColor {
  0% {
    -webkit-text-stroke: 2px $blue;
  }
  45% {
    -webkit-text-stroke: 2px $blue;
  }
  100% {
    -webkit-text-stroke: 2px $light;
  }
}