@import '/src/_styles';

#Header {
  position: fixed;
  background-color: $dark;
  width: 100vw;
  z-index: 1200;
  .HeaderWidth {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    .SiteLogo {
      cursor: pointer;
    }
  }
}

@media (max-width: 767px) {
  #Header {
    padding-top: 5px;
    padding-bottom: 5px;
    .SiteLogo {
      height: 75px;
      margin-top: -10px;
    }
  }
}

@media (min-width: 768px) {
  #Header {
    .HeaderWidth {
      width: calc(100% - 40px);
    }
    .SiteLogo {
      height: 80px;
      margin-top: 5px;
    }
  }
}

@media (min-width: 1200px) {
  #Header {
    .HeaderWidth {
      width: 1148px;
    }
  }
}