@import '/src/_styles';

.PortfolioComment {
  background-color: rgba(0,0,0,0.45);
  border-radius: 10px;
  box-shadow:
    16px 14px 20px rgba(0,0,0,0.6),
    inset 20px 20px 20px rgba(0,0,0,0.6);
  padding: 15px;
  .Image {
    position: relative;
    width: 100px;
    border-radius: 50%;
    border: 2px solid $blue;
    margin: -40px 10px 10px 10px;
  }
  .Comment {
    font-size: 0.95rem;
    line-height: 1.3;
    &::first-letter {
      font-family: $fontHeading;
      font-size: 2rem;
      color: $blue;
      margin-left: 15px;
      margin-right: 2px;
    }
  }
  .Profile {
    display: flex;
    flex-direction: column;
    text-align: right;
    .Name {
      font-weight: bold;
    }
    .Relation {
      font-size: 0.9rem;
      color: $lightgrey;
      margin-top: -17px;
    }
    span {
      font-size: 0.9rem;
      color: $lightgrey;
    }
  }
}